{# cadastro\templates\cadastro\base.html #}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>{{ sitename }}{% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'cadastro/css/style.css' %}">
</head>

<body>

    <div class="stars"></div>

    
    <hr>

    <nav>
        <a href="{% url 'index' %}">
        

                <img src="{% static 'cadastro/img/logo.png' %}" alt="Logo" width="100"></a>

        <a href="{% url 'index' %}">Início</a> |&nbsp;
        <a href="{% url 'contato' %}">Contato</a> |&nbsp;

        {% if user.is_authenticated %}
        <a href="{% url 'adicionar' %}">Adicionar</a> |&nbsp;
        Olá, {{ user.username }}! |

        <form method="POST" action="{% url 'logout' %}" style="display: inline;">
            {% csrf_token %}
            <button type="submit">Sair</button>
        </form>

        {% else %}
        <a href="{% url 'login' %}">Entrar</a>
        {% endif %}

        <button onclick="toggleDarkMode()" id="themeBtn" class="theme-toggle">🌙</button>


    
    </nav>

    <hr>

    {% if messages %}
    <ul>
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <main>
        {% block conteudo %}{% endblock %}
    </main>

    <hr>

    <footer>
        <p>&copy; 2026 {{ dono }}</p>
    </footer>

    <script>
        function createStars() {
            const container = document.querySelector(".stars");
            container.innerHTML = "";

            for (let i = 0; i < 80; i++) {
                const star = document.createElement("div");
                star.classList.add("star");

                star.style.top = Math.random() * 100 + "%";
                star.style.left = Math.random() * 100 + "%";
                star.style.animationDuration = (1 + Math.random() * 3) + "s";

                container.appendChild(star);
            }
        }

        function toggleDarkMode() {
            document.body.classList.toggle("dark");

            const btn = document.getElementById("themeBtn");

            if (document.body.classList.contains("dark")) {
                localStorage.setItem("darkMode", "on");
                btn.innerText = "☀️";
                createStars();
            } else {
                localStorage.setItem("darkMode", "off");
                btn.innerText = "🌙";
                document.querySelector(".stars").innerHTML = "";
            }
        }

        window.onload = function () {
            const btn = document.getElementById("themeBtn");

            if (localStorage.getItem("darkMode") === "on") {
                document.body.classList.add("dark");
                btn.innerText = "☀️";
                createStars();
            } else {
                btn.innerText = "🌙";
            }
        }
    </script>

</body>

</html>